<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "HEAD,GET,PUT,DELETE,POST,OPTIONS"
    Header set Access-Control-Allow-Headers "Accept, Cache-Control, Pragma, Origin, Authorization, Content-Type, X-Requested-With"
</IfModule>